<div class="page-container">
  <app-grid-container>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Part Overview</div>
        <div class="card-icons">
          <div class="moreinfo-icon" (click)="PartOverviewtoggleMoreInfo()">
            <span></span>
          </div>

          <div class="moreinfo-block" #partoverview>
            <div class="moreinfo-header">
              <div class="title"><span>More Information</span></div>
              <a class="close-more" (click)="PartOverviewtoggleMoreInfo()">+</a>
            </div>
            <div class="data">
              <ul>
                <li>Data Point 1: <span>236</span></li>
                <li>Data Point 2: <span>11</span></li>
                <li>Data Point 3: <span>4,322</span></li>
              </ul>
            </div>
            <button class="blue"><span>+</span> Add to My Dashboards</button>
          </div>
        </div>
      </div>
      <div class="card-items part-overview">
        <app-donut-chart-alt></app-donut-chart-alt>
      </div>
    </div>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Outbound Overview</div>
        <div class="card-icons">
          <div class="moreinfo-icon" (click)="FsitetoggleMoreInfo()"></div>

          <div class="moreinfo-block" #fsiteoverview>
            <div class="moreinfo-header">
              <div class="title"><span>More Information</span></div>
              <a class="close-more" (click)="FsitetoggleMoreInfo()">+</a>
            </div>
            <div class="data">
              <ul>
                <li>Data Point 1: <span>36</span></li>
                <li>Data Point 2: <span>1</span></li>
                <li>Data 3: <span>322</span></li>
              </ul>
            </div>
            <button class="blue"><span>+</span> Add to My Dashboards</button>
          </div>
        </div>
      </div>
      <div class="card-items part-overview">
        <app-donut-chart-alt></app-donut-chart-alt>
      </div>
    </div>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Summary</div>
      </div>
      <div class="card-element four-totals">
        <div class="lines">
          <div class="title">Distinct Bill TOs</div>
          <div class="numbers">9,999</div>
        </div>
        <div class="lines">
          <div class="title">Order Sales</div>
          <div class="numbers">$ 99.9M</div>
        </div>
        <div class="lines">
          <div class="title">Distinct Ship TOs</div>
          <div class="numbers">99</div>
        </div>
        <div class="lines">
          <div class="title">Orders Shipped</div>
          <div class="numbers">999</div>
        </div>
      </div>
    </div>
    <div gridCell gcColSpan="3" class="card card-body">
      <div class="card-title">
        <div class="left-side-content">
          <div class="card-title-text">Outbound Locations</div>
          <div class="filter-items">
            <div class="filter-item">
              <span class="k-dropdown-wrap">
                <span class="k-input">Display<span>$USD</span></span>
                <span class="k-select">
                  <span class="k-icon k-i-arrow-s"></span>
                </span>
              </span>
            </div>
            <div>
              <span class="map-from">FROM:</span>
              <span class="map-to">TO:</span>
            </div>
          </div>
        </div>
        <div class="card-icons">
          <a
            class="maximize-icon"
            [routerLink]="['/demandReportsLocations']"
          ></a>
          <div class="moreinfo-icon" (click)="FLocationsMoreInfo()"></div>

          <div class="moreinfo-block" #flocationsoverview>
            <div class="moreinfo-header">
              <div class="title"><span>More Information</span></div>
              <a class="close-more" (click)="FLocationsMoreInfo()">+</a>
            </div>
            <div class="data">
              <ul>
                <li>Data Point 1: <span>316</span></li>
                <li>Data Point 2: <span>10</span></li>
                <li>Data 3: <span>32</span></li>
              </ul>
            </div>
            <button class="blue"><span>+</span> Add to My Dashboards</button>
          </div>
        </div>
      </div>
      <img
        src="https://stackblitz.com/files/asgcs/github/bigredboots-arrow/angular-component-library-example-part-3-progress-45zjbr/master/src/assets/images/map-two-spots-line.jpg"
      />
    </div>
  </app-grid-container>
</div>
